.grid-three-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    text-align: center;
    margin: 5rem 0;
    align-items: end;
  }

  .grid-three-cols {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    transition: all 0.3s ease;
  }
  
  @media (min-width: 768px) {
    .grid-three-cols {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .grid-three-cols p {
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
  }

  .pokemon-info {
    background-color: #e0f0ff;
    border: 1px solid #a0c4ff;
  }
  
  .pokemon-type {
    background-color: #e0ffe0;
    border: 1px solid #a0e4a0;
  }
  
  .pokemon-name {
    background-color: #f5e0ff;
    border: 1px solid #d1a0ff;
  }
  
  .grid-three-cols span {
    font-weight: bold;
    color: #333;
  }
  
  .pokemon-attack {
    background-color: #e0ffe0;
    border: 1px solid #a0e4a0;
  }

  .pokemon-defence {
    background-color: #f5e0ff;
    border: 1px solid #d1a0ff;
  }

  .grid-two-cols {
    
   
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin: 5rem 0;
    align-items: end;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    transition: all 0.3s ease;
  }

  @media (min-width: 768px) {
    .grid-two-cols {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .grid-two-cols p {
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
  }
  .grid-two-cols span {
    font-weight: bold;
    color: #333;
  }

  .pokemon-abilities {
    background-color: #e0f0ff;
    border: 1px solid #a0c4ff;
  }
  
  .pokemon-moves {
    background-color: #e0ffe0;
    border: 1px solid #a0e4a0;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  
  .page-button {
    background-color: #eee;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .page-button:hover {
    background-color: #ccc;
  }
  
  .page-button.active {
    background-color: #007bff;
    color: white;
  }
  